@font-face {
    font-family: tiroBangla;
    src: url(./assets/fonts/TiroBangla-Regular.ttf);
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: tiroBangla;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: fit-content;
    position: relative;
    width: 500px;
    margin: 12px;
}

#calendar-input {
    width: 100%;
    padding: 8px 12px;
    padding-left: 28px;
    border: 1px solid black;
    border-radius: 4px;
}

#calendar-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}

#calendar-card {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 12px;
    margin-top: 4px;
}

#card-header {
    display: flex;
    justify-content: space-between;
}

#month {
    text-align: center;
}

#year {
    text-align: center;
}

#weeks {
    display: flex;
    justify-content: space-around;
    margin: 8px 0px;
}

#days {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 12px;
}

#days p {
    text-align: center;
}